body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.navbar {
  display: flex;
  background: #333;
  color: white;
  padding: 10px;
  justify-content: center;
  gap: 20px;
}

.nav-item {
  cursor: pointer;
  padding: 8px 15px;
  background: #444;
  border-radius: 6px;
}

.nav-item:hover {
  background: #555;
}

.container {
  padding: 15px;
}

h2 {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 8px;
  margin: 10px 0;
  flex-wrap: wrap;
}

input, button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button {
  cursor: pointer;
}

button.danger {
  background: #d9534f;
  color: white;
}

button.info {
  background: #0275d8;
  color: white;
}

button.pdf-btn {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  background: #067cff;
  color: white;
  border-radius: 8px;
}

button.pdf-btn.red {
  background: #e84141;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 5px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.subtotal {
  font-weight: bold;
  margin: 5px 0 20px 0;
}

.grand-total {
  padding: 10px;
  background: white;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
